// Mixins
@import './mixins/mixins';

// Modules

@import './modules/normalize';
@import './modules/variables';
@import './modules/clearfix';



// Partials
@import './partials/userInfo';
@import './partials/friendList';
@import './partials/header';
@import './partials/footer';
@import './partials/friendAdd'
