.footer {
    text-align: center;
    bottom: 0;
    // position: absolute;
    // margin-top: 20px;

    // box-sizing: border-box;
    // margin-top: 20px; /* space between content and footer */
    // display: block;
    // padding-top: 20px;
    height:65px;
    left: 0;
    width:100%;
    background-color: #E6E6E6;
    position: fixed;
    // box-sizing: border-box;
    // margin-top: 10px; /* space between content and footer */
    // display: block;
    // padding-top: 20px;
    p {
        margin-top: 5px;
    }

}