.friendList {
    height: 400px;
    width: 25%;
    overflow-y:auto;
    /*right:10px;*/
    right:10px;
    position:absolute;
    top:100px;
    padding: 5px;
    border: 0.5px solid #F9F0ED;
    border-radius: 5%;
    }

.contactTitle {
    background-color: white;
    // margin-bottom: 101px;
    text-align:center;
    z-index: 999;
    padding-bottom:10px;
    border-bottom:1px grey solid;
    // clear:both;
    // width:100%;

}